@font-face {
    font-family: "harry_potter";
    src: url(../fonts/harry_potter.ttf) format("truetype");
}
@font-face {
    font-family: "harry_potter_7";
    src: url(../fonts/harry_potter_7.ttf) format("truetype");
}
@font-face {
    font-family: "lumos";
    src: url(../fonts/lumos.ttf) format("truetype");
}
@font-face {
    font-family: "overlock";
    src: url(../fonts/overlock.ttf) format("truetype");
}
@font-face {
    font-family: "veteran_typewriter";
    src: url(../fonts/veteran_typewriter.ttf) format("truetype");
}

.hide {
    display: none;
}

body {
    background-image: url(../img/background.png);
    background-size: 100%;
    background-attachment: fixed;
}

#logo {
    width: 100%;
}

.contact-info {
    background-color: rgba(49, 29, 37, 0.8);
    color: #a07d4b;
    text-align: center;
}

.contact-info img {
    box-sizing: border-box;
    display: inline-block;
    width: calc(70% / 5);
    padding: 3%;
    margin: auto;
}

header div {
    display: inline-block;
    width: 49%;
    vertical-align: bottom;
}

header h1 {
    margin: 0;
    margin-bottom: 10%;
    font-size: 10.5vw;
    font-family: "veteran_typewriter";
    color: #e9ddd1;
}

nav {
    padding: 5% 0%;
    text-align: center;
    background-color: rgba(35, 33, 33, 0.8);
}

nav ul {
    padding: 0;
    margin: 0;
}

nav ul li {
    padding: 3% 0;
    background-color: rgba(89, 99, 101, 0.8);
    width: 40%;
    margin: auto;
    margin-bottom: 5%;
    border-radius: 5px;
}

nav ul li:nth-child(odd) {
    -ms-transform: rotate(5deg);
    -webkit-transform: rotate(5deg);
    transform: rotate(5deg);
}

nav ul li a {
    color: #97a993;
    font-family: "overlock";
    text-decoration: none;
}

.main-content {
    background-image: url('../img/paper.png');
}
